body {
    background-color: #fff;
    font-family: "Roboto condensed",sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
#contenedor {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.pantallas {
    float: left;
    margin: 5px;
}
.contenedor_lista {
    width: 250px;
}
.barra_superior {
    background-color: #607d8b;
    height: 20px;
    padding: 2px 9px;
    text-align: center;
}
.titulos {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: lighter;
    margin-left: 4px;
    text-align: left;
}
.texto_ingresar {
    background-color: #607d8b;
    border-color: #ccccff;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #ffffff;
    font-size: 13px;
    font-weight: lighter;
    margin: 4px 6px;
    width: 193px;
}
.listado {
    background-color: #ff547e;
    max-height: 310px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 10px;
    width: 239px;
}
.cartel {
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.24);
    color: #607d8b;
    height: 55px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 225px;
}
.nombre {
    font-size: 14px;
    font-weight: lighter;
    height: 20px;
    margin: 5px;
    text-transform: uppercase;
    width: 170px;
}
.precio {
    clear: both;
    float: right;
    font-size: 14px;
    margin-right: 7px;
}
.base_listados {
    background-color: #607d8b;
    clear: both;
    float: none;
    height: 15px;
    width: 100%;
}
.buscador {
    background: url("imagen/lupa.svg") no-repeat scroll 11px center / 25px auto #607d8b;
    height: 30px;
    padding-left: 35px;
}
.debe_consumidor {
    color: #ff4242;
    float: right;
    height: 100%;
    width: 180px;
}
.fecha_ultimo_ingreso_consumidor {
    float: left;
    width: 45px;
}
.datos_consumidor {
    float: right;
    height: 100%;
    width: 180px;
}
.dia_consumidor {
    color: #ff380f;
    font-family: roboto condensed;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.fecha_consumidor {
    font-family: roboto condensed;
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: -5px;
    margin-top: -4px;
    text-align: center;
}
.form_gasto {
    background-color: #607d8b;
    display: inline-block;
    width: 100%;
}
.debe_gastos_consumidor {
    color: #ff4242;
    float: right;
    height: 100%;
    width: 100%;
}
.consumidor {
    background: url("imagen/consumidor.svg") no-repeat scroll 11px center / 25px auto #607d8b;
    height: 30px;
    padding-left: 35px;
}
.proveedor {
    background: url("imagen/proveedor.svg") no-repeat scroll 11px center / 25px auto #607d8b;
    height: 30px;
    padding-left: 35px;
}
.gasto_consumidor, .gasto_proveedor {
    background: url("imagen/ingresoplata.svg") no-repeat scroll 11px center / 25px auto #607d8b;
    height: 30px;
    padding-left: 35px;
}
.datos_gastos_consumidor, .datos_gastos_proveedor {
    float: right;
    height: 100%;
    width: 100%;
}
.radio_form_gastos {
    background-color: #ff547e;
    border-color: #ff547e;
    border-style: solid;
    border-width: 1px;
    color: #ff547e;
    float: left;
    font-family: roboto condensed;
    font-size: 14px;
    font-weight: 100;
    margin: 2px 10px;
}
input[type="radio"] {
    background-color: #ff547e;
    color: #ff547e;
    display: none;
    float: left;
}
input[type="radio"] + label {
    background-color: #ff547e;
    border-color: #fff;
    display: table-cell;
    padding: 2px 12px;
}
input[type="radio"]:checked + label {
    background-color: #000;
    background-image: none;
    border-color: #ff547e;
    border-style: solid;
    border-width: thin;
    color: white;
    text-shadow: 0 0 4px #cccccc;
}
.izquierda{
     border-radius: 5px 0px 0px 5px;
}
.submit_gastos_consumidor {
    float: right;
}
button:hover {
    background-color: #607d8b;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    color: #cccccc;
    height: 25px;
    width: 70px;
}
button {
    background-color: #ff547e;
    border-style: none;
    border-width: 1px;
    color: #ffffff;
    font-family: roboto condensed;
    font-size: 14px;
    font-weight: 500;
    height: 25px;
    margin: 2px 14px;
    width: 70px;
}
.boton_submit {
    float: right;
}